.dccache
.mypy_cache
Pipfile.lock
.idea
settings.json
.DS_Store
__pycache__
dummy.py
ai2business.egg-info
.coverage
.pytest_cache
.vscode
dist/ai2business-0.1.0-py3-none-any.whl
dist/ai2business-0.1.0.tar.gz
