[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytrends = "*"
scholarly = "*"
yfinance = "*"
numpy = "1.18.0"
#scipy= "*"
pandas = "*"
matplotlib = "3.2.0"
install = "*"
pylama = "*"
sync = "*"
seaborn = "*"

[dev-packages]
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
update = "*"
black = "==20.8b1"
pytest-cov = "*"
codecov = "*"
pylint = "*"
pycodestyle = "*"
pylama = "*"
click-man = "*"
mkdocs = "*"
mkdocstrings = "*"
mkdocs-exclude = "*"
mkdocs-macros-plugin = "*"
mkdocs-versioning = "*"
mkdocs-material = "*"
mkdocs-minify-plugin = "*"
mkdocs-redirects = "*"
mkdocs-git-revision-date-plugin = "*"
mike = "*"
pymdown-extensions = "*"
pip = "*"
mkdocs-git-revision-date-localized-plugin = "*"

[requires]
python_version = "3.8"
